workflows/Workflow Backup.json
{
  "active": false,
  "connections": {
    "N8N Workflow Detail": {
      "main": [
        [
          {
            "node": "Merge",
            "index": 1,
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "isDiffOrNew",
            "type": "main"
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "index": 0,
            "type": "main",
            "node": "Merge"
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "index": 0,
            "type": "main",
            "node": "N8N Workflows"
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "type": "main",
            "node": "github_status",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dataArray": {
      "main": [
        [
          {
            "type": "main",
            "node": "OneAtATime",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "type": "main",
            "index": 0,
            "node": "GitHub"
          },
          {
            "index": 0,
            "type": "main",
            "node": "N8N Workflow Detail"
          }
        ]
      ]
    },
    "Daily @ 2:00 AM IST": {
      "main": [
        [
          {
            "index": 0,
            "type": "main",
            "node": "Globals"
          }
        ]
      ]
    },
    "On clicking execute": {
      "main": [
        [
          {
            "node": "Globals",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "index": 0,
            "node": "OneAtATime",
            "type": "main"
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N8N Workflows": {
      "main": [
        [
          {
            "node": "dataArray",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "type": "main",
            "node": "same",
            "index": 0
          }
        ],
        [
          {
            "type": "main",
            "node": "different",
            "index": 0
          }
        ],
        [
          {
            "type": "main",
            "index": 0,
            "node": "new"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-02T07:47:02.097Z",
  "id": "KsH5dA6l1sUaShbr",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Workflow Backup",
  "nodes": [
    {
      "typeVersion": 1,
      "position": [
        -800,
        32
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "name": "On clicking execute",
      "id": "702c82b6-b4ed-44ba-b1bf-3fa601b6ab09",
      "parameters": {}
    },
    {
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -352,
        176
      ],
      "parameters": {
        "functionCode": "const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"
      },
      "id": "d8619770-f800-4aef-bddc-500bd3784236",
      "name": "dataArray"
    },
    {
      "type": "n8n-nodes-base.httpRequest",
      "name": "N8N Workflows",
      "id": "d65006cd-5a28-416f-9b1e-393294b37545",
      "position": [
        -496,
        176
      ],
      "typeVersion": 1,
      "parameters": {
        "headerParametersUi": {
          "parameter": [
            {
              "value": "={{$node[\"Globals\"].json[\"n8n_api_key\"]}}",
              "name": "X-N8N-API-KEY"
            }
          ]
        },
        "options": {},
        "url": "https://n8n-evh2.onrender.com/api/v1/workflows"
      }
    },
    {
      "id": "28014442-d1e3-46df-8d9d-6f180d48eff9",
      "name": "GitHub",
      "position": [
        0,
        0
      ],
      "credentials": {
        "githubApi": {
          "id": "blQkz0iq24Wtt816",
          "name": "GitHub account"
        }
      },
      "parameters": {
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "resource": "file",
        "additionalParameters": {},
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "operation": "get"
      },
      "continueOnFail": true,
      "alwaysOutputData": true,
      "typeVersion": 1,
      "type": "n8n-nodes-base.github",
      "webhookId": "1e05ba21-311e-4071-affc-cfea9722b567"
    },
    {
      "name": "Merge",
      "position": [
        208,
        176
      ],
      "parameters": {},
      "typeVersion": 1,
      "id": "925bae2f-17c7-4dd5-81ea-5221a2d84b76",
      "type": "n8n-nodes-base.merge"
    },
    {
      "typeVersion": 1,
      "type": "n8n-nodes-base.httpRequest",
      "name": "N8N Workflow Detail",
      "parameters": {
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{$node[\"Globals\"].json[\"n8n_api_key\"]}}"
            }
          ]
        },
        "options": {},
        "url": "=https://n8n-evh2.onrender.com/api/v1/workflows/{{$json[\"id\"]}}"
      },
      "id": "6879fbbf-f246-41a4-8ce8-c7f4265548cd",
      "position": [
        0,
        336
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "output": 2,
              "value2": "new"
            }
          ]
        },
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}"
      },
      "id": "278b086d-3bd9-4058-8f04-a28142a94a05",
      "position": [
        512,
        176
      ],
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1
    },
    {
      "id": "9160f35f-927f-418c-a350-35c09348882d",
      "position": [
        704,
        0
      ],
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "same",
      "typeVersion": 1
    },
    {
      "position": [
        704,
        176
      ],
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "id": "df4beb2a-db7c-48ef-8135-c9dc54899c42",
      "name": "different"
    },
    {
      "id": "11f092e8-264b-4ec8-9b25-f89f482ff2a1",
      "position": [
        704,
        336
      ],
      "type": "n8n-nodes-base.noOp",
      "parameters": {},
      "typeVersion": 1,
      "name": "new"
    },
    {
      "type": "n8n-nodes-base.github",
      "webhookId": "b0eafd9f-f5a5-4335-8217-2076ff370214",
      "id": "dd1ec2bf-1470-44d9-8ec9-584cfa56317d",
      "credentials": {
        "githubApi": {
          "id": "blQkz0iq24Wtt816",
          "name": "GitHub account"
        }
      },
      "position": [
        912,
        64
      ],
      "typeVersion": 1,
      "parameters": {
        "resource": "file",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json",
        "operation": "edit",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}"
      },
      "name": "GitHub Edit"
    },
    {
      "position": [
        912,
        336
      ],
      "credentials": {
        "githubApi": {
          "id": "blQkz0iq24Wtt816",
          "name": "GitHub account"
        }
      },
      "name": "GitHub Create",
      "typeVersion": 1,
      "webhookId": "62eec2b8-70a8-4773-bf44-1d07766c1bc9",
      "parameters": {
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json",
        "resource": "file"
      },
      "id": "991e1b2f-69d3-4703-b646-f5fc71291cf7",
      "type": "n8n-nodes-base.github"
    },
    {
      "parameters": {
        "functionCode": "// File Returned with Content\nif (Object.keys(items[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = eval(\"(\"+Buffer.from(items[0].json.content, 'base64').toString()+\")\");\n  var n8nWorkflow = items[1].json; // Changed: removed .data since API response structure is different\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    items[0].json.github_status = \"same\";\n    items[0].json.content_decoded = orderedOriginal;\n  } else {\n    items[0].json.github_status = \"different\";\n    items[0].json.content_decoded = orderedOriginal;\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = items[1].json; // Changed: removed .data\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  items[0].json.github_status = \"new\";\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn items;"
      },
      "typeVersion": 1,
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.function",
      "position": [
        352,
        176
      ],
      "id": "70ed8b9d-7691-429f-8043-c491b77c8f07"
    },
    {
      "position": [
        -208,
        176
      ],
      "parameters": {
        "options": {},
        "batchSize": 1
      },
      "name": "OneAtATime",
      "typeVersion": 1,
      "id": "19551085-fe77-4d47-96cd-a114059fdd92",
      "type": "n8n-nodes-base.splitInBatches"
    },
    {
      "position": [
        -656,
        176
      ],
      "typeVersion": 1,
      "parameters": {
        "options": {},
        "values": {
          "string": [
            {
              "value": "rajrasane",
              "name": "repo.owner"
            },
            {
              "name": "repo.name",
              "value": "n8n-workflows"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            },
            {
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhNzM1MDllZi0zZDBmLTRhNzctYmY1Ny04ZTY2YWU1OTcxYmMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYyMDY5NzIzfQ.4vBpgErAkiziVCnvBSp3zIh1UuRHpOEuY1vWnmeAsJ8",
              "name": "n8n_api_key"
            }
          ]
        }
      },
      "id": "5ea0734c-cc6c-4df2-b18f-93ca958787d7",
      "name": "Globals",
      "type": "n8n-nodes-base.set"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 2
            }
          ]
        }
      },
      "position": [
        -800,
        320
      ],
      "type": "n8n-nodes-base.cron",
      "name": "Daily @ 2:00 AM IST",
      "typeVersion": 1,
      "id": "82a6e1b4-dcb8-4557-87ae-c89a807e3235"
    }
  ],
  "pinData": {},
  "settings": {},
  "shared": [
    {
      "updatedAt": "2025-11-02T07:47:02.101Z",
      "createdAt": "2025-11-02T07:47:02.101Z",
      "role": "workflow:owner",
      "workflowId": "KsH5dA6l1sUaShbr",
      "projectId": "Hglq8NSx84jwK2qb",
      "project": {
        "updatedAt": "2025-11-02T07:41:07.396Z",
        "createdAt": "2025-11-02T07:36:27.699Z",
        "id": "Hglq8NSx84jwK2qb",
        "name": "Raj Rasane <rasaneraj04@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-02T07:36:27.699Z",
            "createdAt": "2025-11-02T07:36:27.699Z",
            "userId": "a73509ef-3d0f-4a77-bf57-8e66ae5971bc",
            "projectId": "Hglq8NSx84jwK2qb",
            "user": {
              "updatedAt": "2025-11-02T07:44:43.000Z",
              "createdAt": "2025-11-02T07:36:25.608Z",
              "id": "a73509ef-3d0f-4a77-bf57-8e66ae5971bc",
              "email": "rasaneraj04@gmail.com",
              "firstName": "Raj",
              "lastName": "Rasane",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-02T07:44:43.041Z",
                "personalization_survey_n8n_version": "1.117.2"
              },
              "settings": {
                "userActivated": false
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-02T07:55:46.802Z",
  "versionId": "683c79ef-fcd4-47b9-9031-1ad96b8006eb"
}