workflows/Workflow Backup.json
{
  "active": true,
  "connections": {
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "N8N Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dataArray": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "N8N Workflow Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N8N Workflows": {
      "main": [
        [
          {
            "node": "dataArray",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N8N Workflow Detail": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "On clicking execute": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily @ 11:00 PM IST": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-18T09:35:03.111Z",
  "id": "CVHZLwjs54JgKOOx",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Workflow Backup",
  "nodes": [
    {
      "parameters": {},
      "id": "03808dca-aaa0-4e44-8360-878805661a75",
      "name": "On clicking execute",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -800,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"
      },
      "id": "4fe95ec9-86b2-49eb-9d7c-eee0c0eb9d4d",
      "name": "dataArray",
      "type": "n8n-nodes-base.function",
      "position": [
        -352,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{$node[\"Globals\"].json[\"n8n_api_key\"]}}"
            }
          ]
        }
      },
      "id": "51c4dd08-590e-4d83-b594-cde295248cb0",
      "name": "N8N Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -496,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "7cdebbe5-05b1-4803-a8f7-87efe2cccc68",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "1e05ba21-311e-4071-affc-cfea9722b567",
      "credentials": {
        "githubApi": {
          "id": "mZo5VPMoXzRA1rns",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "68391d0a-9b38-4648-ada2-1fcdfcacd495",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        208,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=http://localhost:5678/api/v1/workflows/{{$json[\"id\"]}}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{$node[\"Globals\"].json[\"n8n_api_key\"]}}"
            }
          ]
        }
      },
      "id": "404e1d20-3e21-4b9c-8e30-ada7d66e90cf",
      "name": "N8N Workflow Detail",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "dde24a50-6420-4516-bd18-f10d9d21a878",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        512,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "595283b4-10f5-4077-95b4-64f7a90bd67b",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        704,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "33b5e2e2-6640-423c-885a-99f711dbf10c",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        704,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "8c28cefd-6f03-4eeb-8812-20b8a8eaef28",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        704,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "608b153e-07e2-48cb-85c7-ee00130fc911",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        912,
        64
      ],
      "typeVersion": 1,
      "webhookId": "b0eafd9f-f5a5-4335-8217-2076ff370214",
      "credentials": {
        "githubApi": {
          "id": "mZo5VPMoXzRA1rns",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "3488a897-2da1-476a-9b06-b735534fdfcd",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        912,
        336
      ],
      "typeVersion": 1,
      "webhookId": "62eec2b8-70a8-4773-bf44-1d07766c1bc9",
      "credentials": {
        "githubApi": {
          "id": "mZo5VPMoXzRA1rns",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// File Returned with Content\nif (Object.keys(items[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = eval(\"(\"+Buffer.from(items[0].json.content, 'base64').toString()+\")\");\n  var n8nWorkflow = items[1].json; // Changed: removed .data since API response structure is different\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    items[0].json.github_status = \"same\";\n    items[0].json.content_decoded = orderedOriginal;\n  } else {\n    items[0].json.github_status = \"different\";\n    items[0].json.content_decoded = orderedOriginal;\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = items[1].json; // Changed: removed .data\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  items[0].json.github_status = \"new\";\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn items;"
      },
      "id": "3781d7b5-59c2-4a36-99f1-6b477b895ab7",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.function",
      "position": [
        352,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "85bc7307-d4ca-478f-8857-c1fb5adfc74e",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -208,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "rajrasane"
            },
            {
              "name": "repo.name",
              "value": "n8n-workflows"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            },
            {
              "name": "n8n_api_key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI5MDA2Njc3MC1iNDZkLTRhOGItYWJlZi01ZjQ3ODIwNzM4N2QiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYzNDU4NzYxfQ.R8rgEu_GeM4D5kQDcJTiVI98iSDJW0dcwj7a3BOSLjA"
            }
          ]
        },
        "options": {}
      },
      "id": "30620306-b607-4516-9caa-e1c265d87a67",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -656,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 23
            }
          ]
        }
      },
      "id": "e9f356d7-b736-40b2-a339-68e9eae11633",
      "name": "Daily @ 11:00 PM IST",
      "type": "n8n-nodes-base.cron",
      "position": [
        -800,
        320
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-11-18T09:35:03.115Z",
      "createdAt": "2025-11-18T09:35:03.115Z",
      "role": "workflow:owner",
      "workflowId": "CVHZLwjs54JgKOOx",
      "projectId": "DEyJR10dGx79YVix",
      "project": {
        "updatedAt": "2025-11-18T09:32:19.196Z",
        "createdAt": "2025-11-18T09:28:22.548Z",
        "id": "DEyJR10dGx79YVix",
        "name": "Raj Rasane <rasaneraj04@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-18T09:28:22.548Z",
            "createdAt": "2025-11-18T09:28:22.548Z",
            "userId": "90066770-b46d-4a8b-abef-5f478207387d",
            "projectId": "DEyJR10dGx79YVix",
            "user": {
              "updatedAt": "2025-11-18T10:47:08.934Z",
              "createdAt": "2025-11-18T09:28:22.060Z",
              "id": "90066770-b46d-4a8b-abef-5f478207387d",
              "email": "rasaneraj04@gmail.com",
              "firstName": "Raj",
              "lastName": "Rasane",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-18T09:32:22.349Z",
                "personalization_survey_n8n_version": "1.119.2"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-18T09:56:25.000Z",
  "versionCounter": 10,
  "versionId": "178ad602-27d9-4c56-9d6c-4f2afff67d68"
}